.husky/
.next/
.storybook/
.vscode/
cdk/
ci/
coverage/
cypress/
doc/
obj/
stories/
storybook-static/
test/
.DS_Store
.dockerignore
.editorconfig
.env
.eslintrc.*
.eslintignore
.prettierignore
.prettierrc.yaml
.stylelintignore
.stylelintrc.json
amplify.yml
babel.config.js
docker-compose.*
env.example
Dockerfile
**/*.spec.ts
**/*.spec.tsx
bitbucket-pipelines.yml
fileTransformer.js
jest-setup.js
jest.config.js
next-env.d.ts
next.config.js
node_modules/
sonar-project.properties
test-report.xml
test-reports/
tsconfig.*
yarn-error.log
build-storybook.log
